In [1]:
import pandas as pd

# Step 1: Load the dataset
df = pd.read_csv("online_shopping_4000_instances.csv")

# Step 2: Preview the data
print("First 5 rows:")

print(df.head())

# Step 3: Dataset info
print("\nDataset Info:")
print(df.info())

# Step 4: Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

# Step 5: Statistical Summary
print("\nSummary Statistics:")
print(df.describe())

# Step 6: Convert 'Order Date' to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'])

# Step 7: Create new column for Total Amount after discount
df['Total Amount'] = df['Amount spent by per user'] - df['Discount']

# Step 8: Save cleaned data
df.to_csv("cleaned_online_shopping_data.csv", index=False)
print("\n Cleaned dataset saved successfully.")

First 5 rows:
   Order ID   Customer Name  Gender  Age Device used       City  \
0  ORD00001     Wendy Black    Male   19      Tablet  Bangalore
1  ORD00002   Ronald Lawson  Female   20      Mobile      Delhi
2  ORD00003    Kelly Jensen    Male   46      Tablet  Bangalore
3  ORD00004    Johnny Adams    Male   23      Laptop      Delhi
4  ORD00005  Timothy Walker    Male   42      Mobile    Chennai

  Product Category Purchase time      Payment mode  Order Date  Order Day  \
0         Clothing     Afternoon        Debit Card  2024-11-27  Wednesday
1         Clothing     Afternoon  Cash on Delivery  2023-12-17     Sunday
2      Electronics     Afternoon       Net Banking  2023-10-21   Saturday
3         Footwear       Evening  Cash on Delivery  2025-06-13     Friday
4         Footwear       Evening  Cash on Delivery  2023-11-05     Sunday

   Amount spent by per user  Discount Return item
0                  14861.19   5268.51         Yes
1                  12239.37   3703.15          No
2                   7134.89    855.94          No
3                   5658.16    393.54          No
4                   4249.63    345.49         Yes

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Order ID                  4000 non-null   object
 1   Customer Name             4000 non-null   object
 2   Gender                    4000 non-null   object
 3   Age                       4000 non-null   int64
 4   Device used               4000 non-null   object
 5   City                      4000 non-null   object
 6   Product Category          4000 non-null   object
 7   Purchase time             4000 non-null   object
 8   Payment mode              4000 non-null   object
 9   Order Date                4000 non-null   object
 10  Order Day                 4000 non-null   object
 11  Amount spent by per user  4000 non-null   float64
 12  Discount                  4000 non-null   float64
 13  Return item               4000 non-null   object
dtypes: float64(2), int64(1), object(11)
memory usage: 437.6+ KB
None

Missing Values:
Order ID                    0
Customer Name               0
Gender                      0
Age                         0
Device used                 0
City                        0
Product Category            0
Purchase time               0
Payment mode                0
Order Date                  0
Order Day                   0
Amount spent by per user    0
Discount                    0
Return item                 0
dtype: int64

Summary Statistics:
               Age  Amount spent by per user     Discount
count  4000.000000               4000.000000  4000.000000
mean     39.005000              10205.987073  2794.991048
std      12.554496               5659.853003  2154.969259
min      18.000000                504.160000    32.270000
25%      28.000000               5206.730000  1043.407500
50%      39.000000              10222.515000  2260.895000
75%      50.000000              15081.392500  4062.797500
max      60.000000              19965.400000  9768.220000

 Cleaned dataset saved successfully.